@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Ubuntu|Ubuntu+Condensed|Ubuntu+Mono&display=swap');

body {
    font-family: 'Ubuntu Condensed', 'Helvetica', 'Sans-Serif';
    background-image: radial-gradient(circle, #3c0000, #000000);
    color: #ffff80;
    text-shadow: 
    -0.5px -0.5px 1px rgba(255, 255, 0, 0.1),
    -0.5px 0.5px 1px rgba(255, 255, 0, 0.1),
    0.5px -0.5px 1px rgba(255, 255, 0, 0.1),
    0.5px 0.5px 1px rgba(255, 255, 0, 0.1),
    0px 0px 10px #ff471a,
    0px 0px 5px #ff9900,
    0px 0px 2.5px #ff471a;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: 'Roboto', 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    /*color: #999;*/
}
a:hover {
    text-decoration: underline;
}
h1 {
    color: rgb(255, 175, 0);
    text-shadow: 
    -0.5px -0.5px 0px red,
    -0.5px 0.5px 0px red,
     0.5px -0.5px 0px red,
     0.5px 0.5px 0px red,
     0px 0px 10px #ff471a,
     0px 0px 5px #ff9900,
     0px 0px 2.5px #ff471a;
    font-size: 3em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    /*color: #333;*/
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
