// Layout of individual grid components

// Home nav box
.site-home {
  font-size: 1.5rem;
  //border: 5px solid red;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 150px;
  //position: sticky;
  //top:15px;
  .site-icon{
  top: 15px;
  }
  .site-title {
    font-size: 1rem;
    top: 0px;
  }
}

// Site nav box
.site-nav {
  font-size: 1.5rem;
  //border: 5px solid green;
  padding-left: 5px;
  border-bottom: 2px solid $terminal-orange;
  opacity: 1;
  z-index: 2;
  display: grid;
  align-items: center;
  .nav-links{
    ul {
      position: sticky;
      top: 0;
      overflow: auto;
      @include type-setting(0);
      margin-bottom: 0;
      li {
        display:inline;
        margin-right: 20px;
      }
    }
  }
}

// Page nav or table of contents box
.page-nav {
  font-size: 1.5rem;
  //border: 5px solid blue;
}

// Main content box
.mainContent {
  display: grid;
  font-size: 1.6rem;
  p {
    strong {
      color: $terminal-bold;
    }
  }
  .page-title {
    color: $terminal-orange;
    margin-top: 0;
    font-family: $title-font-family;
    font-size: 2em;
    line-height: 3em;
    margin-bottom: 0.5em;
    text-align: center;
    @include text-bordered-triple-fuzz(0.5, 0, $red, 1,
                                       0, 2.5, $terminal-vermilion, 1,
                                       0, 5, $terminal-orange-peel, 1,
                                       0, 10, $terminal-vermilion, 1);
  }
}

// Aside content box
.sideNotes {
  font-size: 1.3rem;
  //border: 5px solid yellow;
}

// Footer box
.site-footer {
  font-size: 0.8rem;
  border-top: 2px solid $terminal-orange;
  .contact-list, .social-media-list {
    list-style: none;
    font-weight: bold;
  }
  .social-media-list {
    li {
      display: inline-flex;
      margin-right: 20px;
    }
  }
}
// SVG pseudocode images
.svg-pseudo {
  fill: $terminal-orange;
  filter: drop-shadow(0 0 0.1rem crimson);
  height: 100%;
  margin-top: 0.8em;
  margin-bottom: 1.2em;
}
// Aside positioning into sidebar
.aside-outer {
  position: relative;
  width: 100%;
  .aside-inner {
    width:19.32vw;
    position: absolute;
    margin-left: 10px;
    left: 100%;
    top: 0;
    transform:translateY(-50%);
    font-size: 1.3rem;
    color: $terminal-conifer;
    @include text-bordered-triple-fuzz(0.5, 1, $white, 0.1,
                                       0, 2.5, $terminal-green-phospor, 0.3,
                                       0, 5, $terminal-conifer, 0.2,
                                       0, 10, $terminal-green-phospor, 0.1);
  }
}

// Citation formatting
sup {
  vertical-align: baseline;
  font-size: 1em;
  a.footnote {
    color: $terminal-orange-peel;
    }
  ::before {
    content: "[";
  }
  ::after {
    content: "]";
  }
}

.MathJax_ref {
  color: $terminal-orange-peel;
}

.reversefootnote {
  color: $terminal-orange-peel;
}

// Set font-families
.site-home, .site-nav, .site-footer {
  font-family: $nav-font-family;
}

// SVG icons
.svg-icon {
  fill: $terminal-orange; //change color and add hover effect
  padding-right: 5px;
  vertical-align: text-top;
  text-decoration: none;
  transition: all 0.45s ease-in-out 0s;
  &:hover {
    fill: $yellow;
    transition: all 0.45s ease-in-out 0s;
  }
  &:before path{
    fill: $yellow;
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1em;
    bottom: 0;
    left: 0;
    background: $terminal-rajah;
    @include box-bordered-triple-fuzz(0.5, 1, $white, 0.2,
                                       0, 2.5, $white, 0.6,
                                       0, 10, $white, 0.6,
                                       0, 20, $white, 0.6);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.45s ease-in-out 0s;
    transition: all 0.45s ease-in-out 0s;
  }
  &:hover:before path{
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    transition: all 0.45s ease-in-out 0s;
  }
}

// links
a {
  text-decoration: none;
}

.underline-glow {
  position: relative;
  color: $terminal-rajah;
  text-shadow:
  crt-fuzz(2.5, $terminal-vermilion, 1),
  crt-fuzz(5, $terminal-orange-peel, 1);
  transition: all 0.45s ease-in-out 0s;
  &:hover {
    @include text-bordered-triple-fuzz(0.5, 1, $white, 0.2,
                                       0, 2.5, $white, 0.6,
                                       0, 10, $white, 0.6,
                                       0, 20, $white, 0.6);
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0.1em;
    bottom: 0;
    left: 0;
    background: $terminal-rajah;
    @include box-bordered-triple-fuzz(0.5, 1, $white, 0.2,
                                       0, 2.5, $white, 0.6,
                                       0, 10, $white, 0.6,
                                       0, 20, $white, 0.6);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.45s ease-in-out 0s;
    transition: all 0.45s ease-in-out 0s;
  }
  &:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.page-nav {
  position: relative;
  ul.toc {
    color: $terminal-orange-peel;
    position: relative; //change to fixed
    top: 5em;
    li {
      a {
        //position: fixed;
        color: $terminal-purple-light;
        @include text-bordered-triple-fuzz(0.5, 1, $yellow, 0.1,
                                           0, 2.5, $terminal-vermilion, 1,
                                           0, 5, $terminal-orange-peel, 1,
                                           0, 10, $terminal-vermilion, 1);
      }
    }
  }
}

// D3 styling
#top-plot {
  justify-self: center;
}

// Blog page
